

.modal > a {
  margin: 22px 40px 0px 0px;
}
.completed-modal-title { margin: 0px; }
.completed-modal-from { float: left; color: #dc3500; }
.completed-modal-to { float: left; margin-right: 10px; color: #081971; }
.completed-modal-hr { margin-top: 2px; border-top: 2px solid #a94442; }
.divider-hr { margin: 0px; border-top: 1px dashed #bdb4b4; }
.completed-modal-content { margin-bottom: 10px; }
.completed-modal-left {
  padding-left: 10px;
  width: 50%;
  float: left;
}
.completed-modal-right {
  padding-left: 10px;
  width: 50%;
  border-left: 1px dashed #000;
  float: left;
}
.completed-modal-dropdown { float: left; }
.completed-modal-dropdown .btn {
  margin-top: 1px;
  width: 235px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  background: #005188;
  border: 2px solid #00366b;
  border-radius: 5px;
}

.completed-modal-btn {
  background-color: #305677;
  color: #fff;
  font-weight: 600;
  float: right;
}

.dropdown-menu { z-index: 1000; }
.dropdown-menu > li { padding: 5px 10px 5px 10px; background-color: #fff; }
.dropdown-menu > li > a { padding: 0px; }
.dropdown-menu > li:hover {
   background-color: #ddd;
}
.dropdown-menu > li > a:hover {
   background-color: #ddd;
}

.dropdown-submenu { position: relative; }
.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: dashed;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}