@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
/* 헤더 로고 폰트 */
@import url('https://fonts.googleapis.com/css?family=Gugi');
/* 한글 폰트*/
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);


/* Social Page CSS START */

.ranking-div{
    padding-top: 500px;
    text-align: center;
    
}













/* Social Page CSS END */








/*************************
*******Home Page******
**************************/

html {
    height: 100%;
}

a.login-form {
    color: #cb5b35;
}

a.login-form:hover {
    color: red;
}

a:hover {
    outline: none;
    text-decoration: none;
    color: #7bbfa8;
}

a:focus {
    outline: none;
    outline-offset: 0;
}

a {
    font-family: 'Lato', 'Spoqa Han Sans', sans-serif;
    color: #000;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

ul {
    list-style: none;
}

table {
    width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Lato', 'Spoqa Han Sans', sans-serif;
    font-weight: 300;
}

hr {
    width: 60%;
    clear: both;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 10px;
}

h2 {
    color: #3c3c3c;
    font-size: 25px;
}

.bookmark-category {
    font-family: 'Lato', 'Spoqa Han Sans';
    font-size: 25px;
    font-weight: 500;
}

.category-items {
    padding-left: 10px;
    padding-right: 10px;
}

.category-text {
    margin-left: 10px;
    margin-right:  15px;
    font-size: 15px;
    font-family: 'Lato', 'Spoqa Han Sans', sans-serif;
}

.individual-share-bookmark {
    margin-top: 25px;
    font-family: 'Lato','Spoqa Han Sans', sans-serif;
}
.group-share-bookmark {
    margin-top: 25px;
    font-family: 'Lato','Spoqa Han Sans', sans-serif;
}

.hr-clear {
  width: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0px;
  height: 2px;
  background: #ccc;
  clear: both;
}

/* 카테고리 영역 */
.category {
    font-family: 'Lato', 'Spoqa Han Sans', sans-serif;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 15px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background-color: #7bbfa8;
    border : 1px solid #7bbfa8;
    color: #fff;
    float: left;
}

.category:hover {
    margin-right: 13px;
    background-color: #fff;
    border : 2px solid #7bbfa8;
    color: #7bbfa8;
}


.bookmark-title {
   font-family: 'Lato', 'Spoqa Han Sans';
   margin-right: 30px;
   padding-top: 5px;
   padding-bottom: 5px;
   font-size: 30px;
   float: left;
   font-weight: 500;
}

.input-group {
    padding-top: 10px;
}

.search-input {
   font-family: 'Lato', 'Spoqa Han Sans';
   width: 200px;
   box-sizing: border-box;
   border: 1px solid #ccc;
   border-radius: 4px;
   font-size: 16px;
   background-color: white;
   background-image: url('../../icon/search-icon.png');
   background-size: 25px;
   background-position: 5px 5px;
   background-repeat: no-repeat;
   padding: 5px 20px 5px 30px;
   -webkit-transition: width 0.5s ease-in-out;
   transition: width 0.5s ease-in-out;
   float: left;
}

.search-input:focus {
   width: 100%;
}

.overflow {
    overflow: hidden;
}

.uppercase {
    text-transform: uppercase;
}

.btn-common {
    font-size: 14px;
    color: #0099ae;
    border: 1px solid #0099ae;
    font-family: 'Lato','Spoqa Han Sans', sans-serif;
    font-weight: 300;
    padding: 10px 25px;
}

#action .col-sm-5 {
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
}

/*datatable start*/

.paginate_button {
  border-radius: 0 !important;
}


/*datatable end*/