
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
/* 헤더 로고 폰트 */
@import url('https://fonts.googleapis.com/css?family=Gugi');
/* 한글 폰트*/
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);

.logo-text {
    font-family: 'Gugi';
    font-size: 45px;
    color: #7bbfa8;
    font-weight: 600;
}

.logo-text:hover {
    font-family: 'Gugi';
    font-size: 45px;
    color:#9d9d9d;
}

.logo {
    width: 100px;
    height: 90px;
}

.logo:hover {
    color: #7bbfa8;
}

.td {
    padding-bottom: 10px;
    width: 100%
}

.favicon {
    width: 17px;
    height: 17px;
}

.category-text {
    margin-left: 10px;
    margin-right:  15px;
    font-size: 15px;
    font-family: 'Lato', 'Spoqa Han Sans', sans-serif;
    
}

.header-ico {
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
}

.main-admin-category {
    margin-top: 25px;
    font-family: 'Lato','Spoqa Han Sans', sans-serif;
}



/* 카테고리 영역 */

.category {
    font-family: 'Lato', 'Spoqa Han Sans', sans-serif;
    font-weight: 400;
    height: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 15px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    text-align: center;
    border : 1px solid #7bbfa8;
    cursor: pointer;
    color: #fff;
    background-color: #7bbfa8;
    float: left;
    
}

.category:hover {
    
    background-color: #fff;
    border : 1px solid #7bbfa8;
    color: #7bbfa8;
   
}

/* 원래 있던 것들*/
/*

body {
    background: #fff;
    font-family: 'Lato', 'Spoqa Han Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #000;
}
*/

html {
    height: 100%;
}

a.login-form {
    color: #cb5b35;
}

a.login-form:hover {
    color: red;
}

a:hover {
    outline: none;
    text-decoration: none;
    color: #7bbfa8;
}

a:focus {
    outline: none;
    outline-offset: 0;
}

a {
    font-family: 'Lato', 'Spoqa Han Sans', sans-serif;
    color: #000;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

ul {
    list-style: none;
}

table {
    width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Lato', 'Spoqa Han Sans', sans-serif;
    font-weight: 300;
}


.overflow {
    overflow: hidden;
}

.uppercase {
    text-transform: uppercase;
}

.btn-common {
    font-size: 14px;
    color: #0099ae;
    border: 1px solid #0099ae;
    font-family: 'Lato','Spoqa Han Sans', sans-serif;
    font-weight: 300;
    padding: 10px 25px;
}

#action .col-sm-5 {
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
}


.btn-common:hover,
.btn-common:focus {
    outline: none;
    background: none;
    box-shadow: none;
    color: #01707f;
    border-color: #01707f;
}

.align-right {
    text-align: right;
}

.inline {
    display: inline-block;
}

.padding {
    padding: 65px 0;
}

.padding-bottom {
    padding-bottom: 65px;
}

.padding-top {
    padding-top: 90px;
}

.padding-right {
    padding-right: 80px;
}

.padding-left {
    padding-left: 80px;
}

.margin-bottom {
    margin-bottom: 35px;
}

.carousel-indicators.visible-xs {
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -35px;
    width: 100%;
    left: 0;
}

.carousel-indicators.visible-xs li {
    border-color: #D29948;
    border-width: 2px;
    height: 12px;
    margin: 0 5px 0 0;
    width: 12px;
}

.carousel-indicators.visible-xs li.active {
    background: rgba(210, 153, 72, 0.7);
}


/*************************
*******Header******
**************************/


.shadow{
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

#header {
    
    margin-bottom: 0;
    width: 100%;
    padding: 15px 0 15px 0;
    position: fixed;
    z-index: 2;
    background-color: #fff;
}

#header .navbar-inverse .container {
    position: relative;
    padding-left: 0px;
   
}

.field-toggle {
    position: relative;
    top: 30px;
    right: 15px;
    display: none;
    height: 50px;
}

#header .navbar {
    background: #fff;
    border: 0;
    margin-bottom: 0;
}

#header .navbar-toggle {
    margin-top: 20px;
}

#header .navbar-brand {
    padding: 15px;
    margin-left: 0;
}


#header .navbar-nav.navbar-right > li:last-child {
    margin-right: 20px;
}

#header .navbar-nav.navbar-right > li a {
    padding-top: 5px;
    color: #000;
    font-size: 13px;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 400;
}


#header .navbar-inverse .navbar-nav li.active > a,
#header .navbar-inverse .navbar-nav li.active > a:focus,
#header .navbar-nav.navbar-right li > a:hover,
.navbar-inverse .navbar-nav > .open > a {
    background-color: inherit;
    border: 0;
    color: #7bbfa8;
}

#header .navbar-inverse .navbar-nav li a:hover {
    color: #7bbfa8;
}


/*  Dropdown menu*/

ul.sub-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

#header .navbar-nav li ul.sub-menu li a {
    color: #818285;
    padding: 5px 0;
    font-size: 14px;
    display: block;
    text-transform: capitalize;
}

#header .navbar-nav li ul.sub-menu li .active {
    background: #7bbfa8;
    color: #fff;
    position: relative;
}

#header .navbar-nav li ul.sub-menu li .active i {
    position: absolute;
    font-size: 56px;
    top: -13px;
    color: #7bbfa8;
}

#header .navbar-nav li ul.sub-menu li .active .fa-angle-right {
    left: -3px;
}

#header .navbar-nav li ul.sub-menu li .active .fa-angle-left {
    right: -3px;
}

#header .navbar-nav li ul.sub-menu li a:hover,
#header .navbar-nav li ul.sub-menu li a:focus {
    background: #7bbfa8;
    color: #fff;
}

.fa-angle-down {
    padding-left: 5px;
}

.scaleIn {
    -webkit-animation-name: scaleIn;
    animation-name: scaleIn;
}

@-webkit-keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}


/*************************
*******Footer******
**************************/

#footer .footer{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    text-align: center;
    font-family: 'Lato', 'Spoqa Han Sans';
    font-size: 15px;
    font-weight: 400;
    background-color: #fff;
    color:#000;
    -webkit-box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.25);
}

#footer {
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain;
}


/*************************
*******Home Page******
**************************/

#home-slider {
    background: url(../images/home/slider-bg.png) 0 100% repeat-x;
    position: relative;
}

#home-slider .main-slider {
    position: relative;
    height: 450px;
}

#home-slider .slide-text {
    position: absolute;
    top: 50px;
    left: 0;
    width: 450px;
    
    text-align: center;
    font-family: 'Lato', 'Spoqa Han Sans';
    font-size: 28px;
    font-weight: 300;
    margin-top: 100px;
    margin-bottom: 25px;
    z-index: 1;
}

.animate-in .slide-text {
    -webkit-animation: fadeInLeftBig 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 200ms both;
    animation: fadeInLeftBig 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 200ms both;
}

#home-slider .slider-hill {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.animate-in .slider-hill {
    -webkit-animation: bounceInDown 1000ms ease-in-out 200ms both;
    animation: bounceInDown 1000ms ease-in-out 200ms both;
}


#home-slider .btn-common {
    margin-top: 20px;
}

#home-slider .preloader {
    position: absolute;
    left: 0;
    top: 0;
    bottom: -30px;
    right: 0;
    background: #fafafa;
    text-align: center;
}

#home-slider .preloader > i {
    font-size: 48px;
    height: 48px;
    line-height: 48px;
    color: #00aeef;
    position: absolute;
    left: 50%;
    margin-left: -24px;
    top: 50%;
    margin-top: -24px;
}
