<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd">

<!-- 
 이때까지의 xml 파일
 IOC 컨테이너에 적재될 bean 객체 생성과 injection (DI)
 
 <bean id ="emp" ...
 <bean name="emp, emp2 ...."
 
 id 속성, name 속성 : 객체의 이름
  SpringMVC으로 오면 id, name 속성이 mapping 주소로 바뀐다
  id,name 을 web.xml에서 설정했던 url-pattern과 똑같이 보면 된다
  
 import org.springframework.web.servlet.view.InternalResourceViewResolver;
 >>>>>>>> viewResolver : 담당역할 : view 설정을 담당하는 클래스
 -->
	<bean id="/hello.htm" class="kr.or.bit.HelloController"></bean>
	<bean id="/intro.htm" class="kr.or.bit.IntroController"></bean>
	<bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/views/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
		
	
</beans>