/* team CSSS START */
.my .container-fluid .row{
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 15px;
    height: 70px;
    border : 1px solid #222d32;
}

.my .container-fluid,
.container-fluid,
bdoy .container-fluid{
    padding-left: 110px;
    padding-right: 110px;
}
/* group-member css START */
.group-member-content{ height: 500px; width: 100% }
.group-member-header {
    min-height: 45px;
    max-height: 45px;
    padding: 5px;
    border-bottom: 1px solid #888888;
}
.group-member-header > p {
    font-size: 20px;
    font-weight: 600;
}
.group-member-header > p > .fa-user-plus {
    font-size: 20px;
    font-weight: 600;
    float: right;
}
.online-content{ height: 70%; width: 100% }
.offline-content{ height: 30%; width: 100% }

.col-sm-2.group-member{
    padding-left: 0px;
    padding-right: 0px;
}

.online{
    padding-left : 15px;
    padding-top : 5px;
    padding-bottom : 5px;
    font-size: 22px;
    width: 100%;
    border-bottom: 2px solid #8aa4af;
}

.offline{
    padding-left : 20px;
    padding-top : 5px;
    padding-bottom : 5px;
    font-size: 22px;
    width: 100%;
    border-bottom: 2px solid #8aa4af;
    border-top : 2px solid #8aa4af;
}
/****** height 벗어나면 수정 필요 *****/
.online-member,
.offline-member{
    height: 100%;
    padding-top: 10px;
    overflow-y: auto;
}
/****** height 벗어나면 수정 필요 *****/

.member{
    width:100%;
    font-size: 15px;
    margin-bottom: 5px;
    padding-left: 10px;

}

.fas.fa-toggle-on{
    color: #7bbfa8;
    font-size: 25px;
    margin-right: 8px;
    vertical-align: middle;
}

.fas.fa-toggle-off{
    color: #222d32;
    font-size: 25px;
    margin-right: 8px;
    vertical-align: middle;
}

.member-ico{
    border: 1px solid #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

/******/
.col-sm-12{ height: 100%; vertical-align: middle}
.col-sm-12 .col-sm-7{ height: 100%;}
.col-sm-12 .col-sm-5.option{
    height: 100%;
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 25px;
    text-align: right;
    vertical-align: middle;
}
.team-ico{
    font-size: 25px;
    margin-right: 10px;
    color: #424242;
}
.team-insert,
.team-ban,
.team-option{

}

.col-sm-5.option .option-ico a{
    text-decoration: none;
}

#teaminsert{
    right: 80px;
    left: auto;
    top:80%;
    text-align: right;
    width: 50%;
    border: 1px solid #222d32;
}

#teaminsert form{
    text-align: center;
}

#teaminsert input{
    margin-top: 5px;
    margin-left: 5px;
    width: 95% !important;
    border: 1px solid #00a65a;
    border-radius: 8px 8px 8px 8px;
    padding-left: 3px;
}

#teaminsert hr{
    margin: 10px 0px;
    border-color: #ccc;
}

.insert-btn{
    margin-right: 10px;
}

#teamban{
    right: 55px;
    left: auto;
    top: 80%;
}

#teamoption{
    right: 15px;
    left: auto;
    top:80%;
}

.insert-btn{
    background-color: #7bbfa8;
}
/******/

/* group-member css END */




/* group-chart CSS START */
.chat-element::-webkit-scrollbar{width: 10px;}
.chat-element::-webkit-scrollbar-track {background-color:#f1f1f1;}
.chat-element::-webkit-scrollbar-thumb {background-color:#7bbfa8; border-radius: 10px;}
.chat-element::-webkit-scrollbar-thumb:hover {background: #466b5e;}
.chat-element::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
    width: 5px;
    height: 5px;
    background: #fff;
}

.chat {
    padding: 0px 10px 0px 10px;
    height: 800px;
}
.chat-content-div { height: 100%; }
.chat-header {
    padding: 5px;
    min-height: 45px;
    max-height: 45px;
    border-bottom: 1px solid #888;
}
.chat-header .chatting-roomname {
    font-size: 20px;
    font-weight: 600;
    float: left;
}
.user-status {
    height: -webkit-fill-available;
    float: left;
}
.user-status > span {
    font-size: 14px;
    color: #888888;
    float: left;
}
.user-status > span > i {
    font-size: 20px;
    color: #7bbfa8;
    float: left;
}

.chat-element {
    padding: 10px 0px 10px 0px;
    height: 75%;
    overflow-y: auto;
}

.divider { width:100%; text-align:center; }
.divider span { font: 20px sans-serif; text-transform: uppercase; }
.divider hr { margin: 0px; width:40%; }
.divider .left { float:left; }
.divider .right { float:right; }
.divider .left, .divider .right {
    position: relative;
    top: 15px;
    border-color: #000;
}

/* 채팅 한번 치면 일어나는 놈들 */
.chatting-contents {
    padding-top: 10px;
}
.chatting-text-div { margin-left: 50px; }
.chatting-userid {
    margin: 0px;
}
.chatting-profile-img {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    float: left;
}
.chatting-userid {
    font-size: 16px;
    font-weight: 600;
}
.chatting-time {
    color: #848080;
    font-size: 11px;
    font-weight: 600;
}
.chat-inputbox-div {
    height: 10%;
}
.chat-inputbox-bg {
    padding: 10px 10px 0px 10px;
    height: 100%;
    width: 100%;
}
.chat-textbox {
    padding: 10px 5px 10px 5px;
    height: auto;
    width: 100%;
    border: 3px solid #888888;
    border-radius: 5px;
    display: flex;
}
#chat-textbox-icon { text-align: center; }
#chat-textbox-icon > i {
    color: #888888;
    float: right;
}
.chat-textbox #chat-textbox-text { width: 92%; height: 100%; }
.chat-textbox #chat-textbox-text:focus { outline: none; }
.chat-textbox #chat-textbox-icon {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 2px;
    width: 8%;
}
/* 채팅 한번 치면 일어나는 놈들 */





/* group-chart CSS END  */



/* group-category CSS START */

.col-sm-4.group-category{
    padding-left: 0px;
    padding-right: 0px;
    border: 2px solid #8aa4af;
    height: 100%;
}



/* group-category CSS END */


/* team CSSS END */
