/* team CSSS START */
.my .container-fluid .row{
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    height: 150px;
    border : 1px solid #222d32;
}

.my .container-fluid,
.container-fluid,
bdoy .container-fluid{
    padding-left: 110px;
    padding-right: 110px;
}
/* group-member css START */
.member-ico{
    border: 1px solid #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.col-sm-3.online{
    text-align: left;
    font-size: 16px;
    width: 100%;
    border-bottom: 2px solid #ccc;
}

.col-sm-3.member{
    width:100%;
    text-align: left;
    font-size: 15px;
    margin-bottom: 5px;
    
}



/* group-member css END */




/* group-chart CSS START */







/* group-chart CSS END  */



/* group-category CSS START */


/* group-category CSS END */
.group-category,
.chatt,
.group-member{
    border: 1px solid #000;
    height: 600px;
    background-repeat: repeat;
    background-size: 140px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKgAAAEsCAMAAABgwwj8AAABoVBMVEX+8MP//vz////z2tX2tJL/9cdiyerdblL/88X/98j978Jbfbr/9Mf/+Mr/+sv/vsb+68D5xqH4v5z95bn94Lb82rH3uJcAAAD14dv+upfjcFP71a76yqTz5Lr4wZ3b0KqakXfe06q+s5P19PREOCjp27KupIfSx6Nj0fRbxOatemXVZUiJe2fwr4/j4uJ4bFrJupmShG7V09V0bnBQstKom4CqSjKMgoLLyMo5KiGjnqBMq8t/Xk/eoIOSdmKTaFetmJU/jqi+VTpLXmmHRDaFOS3Ct7RDnbnry6WUj4+QNh2YUECDZF9qVFLo2tc4cYZVb3xhYWeAdHVEZqJ8foOmiXI6apC+urxmdoA/bH9grdxNZZhNPjdwUkZaW3RrXmR5OSyXj353Kxd2Z16qrK2DjJJ3RzyaQzOMWVAtbod6WVSIcG7Pt69ZUV7SmqWwf4rex8MwT4KRaHM+R2hiVFmlkI7XrIvjqLNelc1QlcFIR2MwQG3Fjm5qcnkaABWkeGRpX08wIRggBQBJPT4mCQIzJChdPDPftJKgOxymnYwzJhfkdmx3AAATsklEQVR4nO2d+3/TRrqHnUkmjBRZBMLFNgjLciXloliSQXEwuRHaUNMCqWlOSgulbNJroIWyYbttdkmyPduz+1efmZFs6+pYtlv2fM58+wvxTY/ed97LjEZqJsPExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMT0/14IwreN0JO40orNv22IHsTpb8aWnezbxjhR0JrNj+XfqOhtg5wgjnCOjc0bQvgdCOF/EDzU3xDOsfxsMUiFBMWWpbdBFPuqoK5STixT9L+RVQ0dqfJbyAZK3DGRtORhYpPqPudnNZkXMlnnDx+5WUOLsw4y5sfapGY78KFk6NS+0h9uUskRrWgG4pyDsY7ao5TTDckFzP7R+RVaOspqChd8VSi2ByjRvO2+n3UcwUNGqvPHmhQ62DJZWQ8eFT32c47lV0mQo4zp+5hoJoDiqpuNJLTBxRnkeKKh+n87Ky+PBbSswQxUDyUfG9KtKA6CAl9UHEMZPim06W8iU+pEMSoFHE+0gjjLQIFAh0bIpAhmStrK6sGy54HhSnKHGpIMP8J8iDP/RnLCYxJqJT+4kFWdldnlPD3FA33YJkVFzT0+LNqttC7os2GDji0/srjwdyW58xKElvEGm7L18aFHGgl671+K5iUpzgxj5ueXStEjQ7vlYEHQlg7G/GdnDx3UUVv/FG3XXyGD5sfml2cDYdQS0hWRnCXklaXloA/yS8OuWx2rkKFJAypr5n2Uy7MrW7aJYo8LDx2dh5y1chAeKvnVIXNi0E6BwQGFyKhtGzS//GZl6/1zr5OqJXR+e73i2BHMsd8h7HnZF544oDicWN2Qz+cPHm+9f/78uS0nEkYtSVuXLv22sjofJQ23hgNLlf1lnsO1VKVdaH5s9rF27jzhVMTEb4vmpcuXL59ZeRMBPbCGG02oFMwjoq06yyTKZ01rinCeX7G6TJkE6/Vlot+Wwu5f1oYLKuihMxfMFXzI2RUP8/yKnuh3IrhETXrmzEEo7ocOqoSnGdJS/mDJmpw6R0HNYvfjQfkyBb1y5exqIKnNDznjw0ijDov/1DKEE4OeM2PSfECouNUCPXuw9DtmfBidpImanpmaIhY9Z6onHg0Z1PME9Oz8447784Z/yAiQlwbrswU5+v2sKU0S0F44M4LzWxv07IXVdkx1Zi9IgJLlyHJS+9qj4jzEmzwGnTJO8jvFULcoKOW8kH/TGqj5JdeikJMU29ElTtQGMilvxCRJWJTR1KR9Qhx5yhodg2LSWY80v4QtiriMYjpFnqxW0JlE/5qMA8UzYgs63fNSW1B57YFeIMofuKT5JRFmdNvQs96aCpQH4cxIdiwOtNs938k/sdL2PCWdpeM0vyThCQkvtnNK1ujtxJOOEt9vIDXW0rESDZ9BKSnpnw8eO6XAFE80BwJNmPPCmGSQJEE/CIDizml51lR4LpigxYEsikqxyzlkZty7xKUzPs4L+flVXCciPwsHqgAoXOr7EZQ7nPn88qosZWPOUxqopgrtGdMgP1I6aMf88qrDx7oYT1sGAYVKV9D4CUhEwkobU+MTkgUMdz/pJGjdvi6W9J5yFHTmKSh2eqLVYpqKNAqtIQSV1S7+PWFghVrD0izJ9KbU5bREY6DCFO3yfIeXLtbLj+LeEaRQtwK38ssrltjVt4O1fdCJdwiPX+bki+Xy9Rg7QP3478HIgAqOoe4gAy5SJoAiHccY/+giqPwa57Cj3e3j4GGl4gmDWbBilv5SiIsHhUoJoeLF49o/HkVBoXKxXL2ookBKOCmiOXmAJX/EIym+rkFNRZx8fPTr8WHUDuLhf4PFi6qgqjHfTDyW3S8lFr/DJ4QiAYXm0fXrR0bUpYhY+ljllDQ2GuTSBOdsmwkDh7r+8Po714+i5QTpF4+Oj48lzknBCdMNUZj1XxjkG6CZcCxUxICP3nnnnaOo1aB2fHR0dB2KdopDp0v3gn3oqELLRJxdBttJBZSXITzEoI+iMJxMhsShKKVZYYBpmlGkOqLqGJZ3RVFqgBEQMwTdH3ZKonz0znFMI5G1/40trYndalrk0KU0Z4VUDSKOVwyFoHJOBYM2kjyCbF2yD+OmI1DGlj6WUlUamC45SXT5ECLdsDjE18DIyEg5MRhRUYJC3JtQwxZ9JCppriaknYZ4VBBapqpvE1BQSy71SW/wv/77uFSyU2yLaF/Q6FGwlXT5DHLulkcI6GL6dlaQFEuT05iIs9O1eK0cwU9OTk41iEExafiiVoxQuATBkppqmwmfsnPyrtRMElmLHmg9MMxh3CQZapr7MtciTle2oZJ2YkbrGMGcmrKp5zFoxdd+cUg5jI0fxc5CyGU1ua8OSEjdM2dNkbodq+kalIST9yuIk+RmpRI77KFqKpZsntTLxQsVU7eiUCtmJunS52/bbVCvOkFVblQAADvxc0iupEvdO/jko6YMJSLJzrgrtFue50kqJatPAk8xaRoIuLf9R48T0qhQwvJWV3HGFL2GcG4HtEGJ70WrSTHJn/7cLPCWe7A+IekxZSn916GlEM5Llxo+0KqCjG3gGwptK8JSrYErOsr2tlIaOpb3HcmOWzc5SbxxDmNeer3dAR0BO7Wy789yO7NySgPgGgtVu0GLvhC7eyxhTGQ1dxsCVIqclt6mnPM+5ry0VWkbEHcmFeDjxJnVa4s4ZxeQgaE1yqDJI4gsI6YrzBZj+w3OqldMifhGcuCj9OtGSN0iFl1qc1axbf2Y+KWyWx45m9QEUN2p4lxQcUSluV2O9BYIyvUaH8WAegN/aYdM/0VTbfax7MQZly5dvtyKJbB9504lyNnKrNxhlb7hngeoUd7dUMuUVXcqoLwTKWd4cJOTHLla5HDhdhb7mNOTC1hnrtS8CK9+XVhfjIDipI/4w3LgdUCHBzj0MyHkNMjQiRgalq56B2hoHFT+PJJ8eTpZnHnmynzd/Z3yV4VT67th0BHQ5KSdcuRl8s6ub00Nlyv3JEE1cIW6w0lcZsNiHfQzBUXF2bPLbtCD2typU3ONKGhVM2I5SUpomzSrtJMF2PYPQlhq+pOfiduKp/3MlTnz7AEdl6B6p4BBazFI/0jg7DRbQsaXe7GLS77k2/RnEVDG7utrgQypb964TfN3mDMOFFQjAdYxqdvZw9JO4DPgaqtB4ooBTvLeyIjNIQFCKKTLUpzb3YPF9VMEdC8KBRI5yXQQkVJQC34GlA+9XYZ6+MRxGAJbUnVLsXQ1JpN1Ed/sGPRUIQa0i0j/inh7O5Iq3IAixSxEWV6sNwxZ0YvFoq4ZqWoUT34MVL7uB5SkBHUnNDSI0UBdhxlOq4PAy9X6U9lSeY7DbseCQg8zn7aQRM+6/EUhyfVdQReNWqCWkbq126wD0JREx5fr8MsNQ5FQYGSmWitDat0N+vfmCoVTc/vpQDFpwGjlxcZXd+YK/1MFZUP2vQW2dzQ+G8LKplqIQCX3vEGl9s3C+no0j55E2qEcqda+WCCne6pAanvVx9mwxKjxpKQlpARQLxSwOarbu+UoSm+8oFL/BlOeoip8B/zJAsdcTNXM2qlWdtqgI24Y9IvZfLdFSUDfDZww2I1ZQoNKugUTP2ifIi3cHR8m1kI1EGGN6AwZqdFbOfoH7ekU8Oi+U2hhFubWF/C/Q13YvyKexw1Z2um9mgiKY7h88lgA1S/aQ3Nu4Zva4lXSMwS6sHKkA8WcqSckUj2Jpbx5+36jchIq2JvzMNffq5EzqxVCXRiIrGMgqZe9SSHx/0rqjTZuTE/P3GyegAr23Jq28M9dan/QmAtVOFAJTT5w79rPpPlpEkF9Znx8fHr821pSm+d+7EMKerfaWgqgoB8GQQNxk9XNftYGoJyQO8GXBBSjzjysdwkr16LrnVWhOgH9JgDqH6NISLec2gFVEvpN8OW4p+kbm5G5VOdjZGbgC3MP1H/25ae+je+SEd0Z35OQnhD2HVCMerOZ2Oa7oNUg6AflwEdaqQiJWuyO856UFPYe6M2Zaer/WwlGpWAdUACekGL/gd9NYNG9nQdyJWOxnzmoK9jsBnr7Re2mZ9Ra7EgF2+ttUNwv1L8g3EFQHGBFjkOSZeyCxf4vgEM7ltMLptsVUN28Ro16bbMaQwqqC94YxZ1x7d11N1l9FYxQUH/69Gl9EX+k3v9mEqgsxjYjoEFB72Ez1W5PU6vejxkloPJBwY363e+89qlQ+FN4nICRMj1IwtJwT0J4kFajCw/YCtcIKF1z2viWkk7fvhp1f/kbWooa2JhuKS0sPEmauIJoNU0hbqdyZz06UHFlwmw3NtwJwEM3qc7ciq5O0Rra6kULhYW7i4m1LHTZJaWgc7dQiC7mgCqJomt1bwKw6ZKOP4x4tT7XaUTnFr5LxiSTwYG25BXfK+BeN2wqULlP/P2lVxnLH13zoj80UMHiQhvzzl5XzFxlsN05wleF2AnoJ4Rrs3WUkavXvIG6Efxk+d0C9fn6n2rdG5hybiDPkysApJgshCsU+Bh7e/p+O9GA2g2XdDP0uauFQmHu67u7J3WvozljsE2KqESWH8K5D0dTO+y9Fxo3XOffCy6ALN754MP6yY1rbrSPi8IhLdHVh9BcGdwj0TTjG5LgqltVQ4kfVMonTwtBeTSXuHOhV0GNlMFCZGF8E7t6+iMfaI22qDcjcdfL5Gp09F4fF8NCktx4uBuyVI0O0s7f9+5T19/qZ946OjpaT7HxJF5IlGkuDCVTN5O2gxyUb1HPh6O+J+VGR3Nmz3vP4yk5vlS03qNLMaFkCm6RMG+vcf6N5vyZq+k5cSCNjq4Ndj8bVzRtR9HklXcXcJIJVlJa7lvZCFylGX/6YdcpVCwmKOdy2KAD7Wjn7UdFiMUJvP54obAQKJCgTIqT25d4+X76ZkrHk4XIjebnTwYzKFJNq30XHRSVr+a+CB6F5PyZj0Gngt5Is95HktZiY/O/HkxMPFgbbBOuKfoXU6EgvxdwPg0nkuArt7zuqfcBShbCNz5+eHv80wmsz+4O1Ddpemjnvli6HqykfyN0nzTuu63TzEe9rUfRcbnx8f0b49PjPxHOiV8GakegLRTDqxjI9NcdsHGbAk573WhvgUQ83rx/A39rembC1d2BIl6Ss9GtnFAOLHd/Mt2eNM981BMnNmbj1u1x+r2/epy/9HJ/WaJQScvq0cceiIHVd9ektL1r9uJ3MFL9+L7ngU89zIkH/U+SKWhRF1QtZt+y7cv74G+eSeNmdjGYG5+4KwHY6z9NPPjs1edPXk1M7AzY3um6wMc+PsW/HYY2+tM3Pkm+0ujH3PQcMD3+15c/N/efvRh99nLieR+LdwEebNFM3M1fqOTfD7N7f+bGw40e3A42Nm94mNe+fb7/Apd3XDqfT/w80ACloJYQf5MA5/gvvtyr94KJU5k7A8Dmv7X/glR3oicTr5YGwyR1CecmKXYDPe+/2trbxRLcZ3tJbHMt18LMNR+8PFgeuLGPHaBUZPmkB7iAyqTPHp/56cFaC3M09wRz5ucHvnMZJj+qh9tJDQoWb05/SurQq7WO3zHnWH5l0CcCdbmjDJu0txmGDxRs/OKlzT/TIfriOeUcAmiGMxMvR4p72HPlHq81Uc/nCNoDF/Xlk2ejz15NvHJvXx0cVLCi1/laz3Ky3VGWoxskul5uAC4l1d5Lrxi9/PyziZ/dG9fzK4NyEpOGT5Yrua8g/dloOyYwbtmD8sk1ZLkd4vSjz55/1qqbd+fzFy6Q5xUM4TEASA3uTMfTvB+9x1JJ+36ANrFPkbddrf1M/f/yTd67PXR+GM8Bg5pvbzTi9Lt/Ob3nGflpEslJyq09/+zB89etO4PPDp5HKVxnCwqnGj+cPn36B3f6DU3jRZ+oudzOqndT+NkLZ88eDOVxKkjytqBApP14muh71wCCzDu1vlBzGx++po+scFHPbg3nwWp4mJK+RNQ//J5ynv6LRgcpkjlOtWujaVFzGzuvW08BoaRXBl/JcQWLBpeBOx4mtqibssgdCAij7qWyam7t7uvzZLPnZe/5GlfOvB7KEPVIeVFrg/5IBy1yZ1NkQ/7es17N+mLftKbItukO6pnLK8N7NJGgmkXR+cEzqDtfFNsb5iGvGKS5PMGUuRdrhvP+pPswmxYpUarNOCcI8bLM6Xs/fP/99z+6joclX/KDnKoZ+13smht9trbjFN0bJc65e9FbrFsDr+EFlC2alqgqiu7ezIttHBhYCGZUTd6rrT0b9aX6HPlj9MXG/p5s6Qo3Oend0kGfaHPJ0zANSlE4y1R4MQsRghAq0W1zCHIwU1JkY2dvb39/fw1rv7a3Y9qaznMwa+nunTw+qxLW80M2KBHkdNshGxF1x066lYecRJbD04JSqVgsqRLiOI5uyCd3nhD5UCnr+0N/wJuLIRUt7P4SOunXkavOC9B9iACvIf8AOHfOHnAC2oUg9V5ZKkjvD6SPu+A7qFPW0HLosOROFqBGchrfGquT6rAjaQhy7/9xc1qLdHLAhyX9LkLknvfWIiYl5Sd/twE6iARNF+hCgSuCGnyK6X+MJg0o6J3bR5Dk3m8zBPH8UB/ACy1NbD86hpSPYT0um6cazm9RcZrmWRRlVbvnJ0SdKJdzmKxc0dSyIidmik6Xp76kFt/W0H4S8ppt4P8UqZ+akSA+oGH9KhTwb/0f+d8QMDExMTExMTHF6X8BzVC422fc10cAAAAASUVORK5CYII=)
}
<<<<<<< HEAD
=======

/* team CSSS END */



>>>>>>> 4a4bacc5cc700efc833a94a33b4599f9500aefe5
