<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd">
	
<!-- 
xml 파일 안에...
IOC 컨테이너에 적재될 bean 객체 생성과 injection (DI)

<bean id="emp"...
<bean name="emp, emp2...

id 속성, name 속성 : 객체의 이름

**SpringMVC 오면 id, name 속성이 (mapping 주소) 로...
id, name==<url-pattern> ...

id="/hello.htm" 를 >> 'url-pattern'라고도 부르고 >> 'mapping 주소' 라고도 부른다

ViewResolver : 담당역할 : view 설정을 담당하는 클래스 
org.springframework.web.servlet.view.InternalResourceViewResolver
-->
	<bean id="/hello.htm" class="kr.or.bit.HelloController"></bean> <!-- hello.htm 요청이 오면, kr.or.bit.HelloController 를 실행하겠다 -->
	<bean id="/intro.htm" class="kr.or.bit.IntroController"></bean>
	
	<bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix"> <!-- setter 주입 -->
			<value>/WEB-INF/views/</value>
		</property>
		<property name="suffix"> <!-- setter 주입 -->
			<value>.jsp</value>
		</property>
	</bean>
	
	<!-- 
		RESERVER 라고 하는것
		ModelAndView mav = new ModelAndView();
		mav.addObject("name", "hong"); //request.setAttribute("name",
		mav.setViewName("Hello");
		
		Hello
		/WEB-INF/views/ + hello + .jsp
		view 주소 : /WEB-INF/views/Hello.jsp
	 -->
	
</beans> 
